<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white">
  <div>
  <div id="header">
      <ul class="topnav" routerLinkActive="active">
        <li>
          <a  routerLink="/loginsuccess">Books</a>
        </li>
        <li>
          <a routerLink="/favourite">Favourite List</a>
        </li>
        <li class="username">
          <a>{{userid}}</a>
        </li>
        <li class="logout"><a routerLink="/login">Logout</a> </li>
      </ul>
    </div>
  
  </div> 
  </nav>
  
  <br>
  <br>
  <br>
  <div class="cardbody">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    
      <div class  ="card" *ngFor = "let book of books" style="width: 16rem;">
        <img class="image" [src]="book.bookUrl" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{book.bookName}}</h5>
          <p class="card-text">{{book.bookAuthor}}</p>
       </div>
        <div class="footer">
          <button type="button" class="btn btn-dark" *ngIf="!book.buttondDisabled" (click)="addtoList(book.bookName,book.bookAuthor,book.bookUrl)">Favourite</button>
        </div>
      </div>
   
  </div>
  </div>