/* css for header div to make it fixed */

#header{
  margin: 0;
  width: 100%;
  position: fixed;
  overflow: hidden; 
  top: 0;
}

/* css for all header items */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: rgb(151, 3, 3);
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #0f0f0f;}
  
  /* ul.topnav li a.active {background-color: #4CAF50;} */
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;
    
    }
  }
  .logout{
    display: block;
    margin-top: -52px;
    margin-left: 90%;
  }

.row{
margin-left: 6%;


}
.card{
margin-left: 8px;
margin-right: 13px;

}
.card-img, .card-img-top {

margin-top: 10px;
border-top-left-radius: calc(0.25rem - 1px);
border-top-right-radius: calc(0.25rem - 1px);
}

.username{
    display: block;
    margin-top: -52px;
    margin-left: 78%;
}
.btn{
border-radius: 0;
width: 100%;
}
.footer{
margin-bottom: 4%;
}

