
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1 style="color:rgb(201 32 32)">BookWorm</h1>
                        <h5 style="color:rgb(0, 0, 0);">Make a day with muse</h5><hr>
                    </div>
                    <form #loginfrom="ngForm" (ngSubmit)="loginUser()">
                 
                        <div class="form-floating">
                            
                            <input type="email" name="email" placeholder="Enter Your Email Address" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="user.emailId" required #email="ngModel" [class.is-invalid]="email.invalid && email.touched">
                            <label for="exampleInputEmail1" class="form-label" >Email </label>
                        </div>
                            <small class="text-danger" [class.d-none]="email.valid || email.untouched"></small>

                            &nbsp;

                          <div class="form-floating">
                            <input type="password" name= "password" placeholder="Enter Your Password"  class="form-control"  [(ngModel)]="user.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            
                          </div>
                          <small class="text-danger" [class.d-none]="password.valid || password.untouched"></small>
                          
                          &nbsp;
                          <div><small name="message" class="text-danger">{{msg}}</small></div>
                          
                         

                          <button type="submit" class="btn btn-success">Login</button>
                          
                        </form>
                      <a routerLink ="/register" style="color: brown;">New User ? Click to Sign Up</a>
                      <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image" height="">


                     
                </div>
            </div>
        </div>



    </div>
    


   
