<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-white">
  <div>
  <div id="header">
      <ul class="topnav" routerLinkActive="active">
        <li>
          <a  routerLink="/loginsuccess">Books</a>
        </li>
        <li>
          <a routerLink="/favourite">Favourite List</a>
        </li>
        <li class="username">
          <a>{{user}}</a>
        </li>
        <li class="logout"><a routerLink="/login">Logout</a> </li>
      </ul>
    </div>
  
  </div> 
  </nav>
    <br>
    <br>
    <br>
    <div class="cardbody">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        
          <div class  ="card" *ngFor = "let book of favlist" style="width: 16rem;">
            <img [src]="book.bookUrl" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{book.bookName}}</h5>
              <p class="card-text">{{book.bookAuthor}}</p>
              
            </div>
            <div class="footer">
              <button type="button" class="btn btn-dark" (click)="removeBook(book.id)">Remove</button>
            </div>
          </div>
       
      </div>
      </div>