.card{
    margin-top: -25px;
    border: 1px solid rgb(247, 245, 245);
    width: 550px;
    padding :45px;
    position: absolute;
    top: 5%;
    left: 30%;
    opacity: .9;

}
a{
    margin-top: 10px;
    width: 280px;
}

.btn{
    border-radius: 25px;
    width: 100%;
    height: 51px;
}

.form-floating>.form-control {
    padding: 2rem 0.75rem;
    border-radius: 25px;
}

.btn-success {
    color: #fff;
    background-color: #c30707;
    border-color: #c30707;
}

.btn:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

 