
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="text-center">
                        <h1  style="color:rgb(201 32 32) ">BookWorm</h1>
                        <h5  style="color:rgb(8, 8, 8);">Make a choice to read</h5><hr>
                    </div>
                    <form #Registerform="ngForm" (ngSubmit)="signUp()">
                      <div class="form-floating">
                        <input name="name"  type="name" placeholder="Enter Your Name" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="user.username" #name="ngModel" required [class.is-invalid]="name.invalid && name.touched" >
                        <label  class="form-label">Name</label>
                       
                      </div>
                      <small class="text-danger" [class.d-none]="name.valid || name.untouched"></small>
                      &nbsp;
                      <div class="form-floating">
                        <input name="mobile" type="number" placeholder="Enter Your Mobile Number" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="user.mobile" #mobile="ngModel" required [class.is-invalid]="mobile.invalid && mobile.touched"> 
                        <label  class="form-label">Phone Number</label>
                          
                        </div>
                        <small class="text-danger" [class.d-none]="mobile.valid || mobile.untouched"></small>
                        &nbsp;
                        <div class="form-floating">
                          <input name="email" type="email" placeholder="Enter Your Email Address" class="form-control"  aria-describedby="emailHelp" [(ngModel)]="user.emailId" #email="ngModel" required [class.is-invalid]="email.invalid && email.touched">
                          <label  class="form-label">Email address</label>
                          
                      </div>
                      <small class="text-danger" [class.d-none]="email.valid || email.untouched"></small>
                      &nbsp;
                      <div class="form-floating">
                        <input name="password" type="password" placeholder="Enter Your Password" class="form-control" [(ngModel)]="user.password" #password="ngModel" required [class.is-invalid]="password.invalid && password.touched">
                        <label  class="form-label">Password</label>
                        &nbsp;
                      </div>
                      <small class="text-danger" [class.d-none]="password.valid || password.untouched"></small>
                      <div><small class="text-danger" name="message">{{message}}</small></div>
                      <button type="submit" class="btn btn-success">Sign Up</button>
                    </form>
                      <a routerLink ="/login" style="color: brown;">Already Member ? Click to Login</a>
                      <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-registration/draw1.png" class="img-fluid" alt="Sample image" >
                </div>
                
            </div>
        </div>
    </div>
